.header {
  padding: 30px;
  text-align: center;
  background: #54bab9;
  color: white;
  font-size: 30px;
  border: solid;
}

.footer {
  text-align: center;
  background-color: #f7ecde;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 150px;
  height: 300;
  border: solid;
  text-align: center;
  background-color: #e9dac1;
  margin: 20px;
}

.img {
  border-radius: 5px 5px 0 0;
  width: 150px;
}

.container {
  padding: 2px 16px;
}
.backgroundMain {
  background-color: #18978f;
}
.admin-card {
  display: flex;
  margin-left: 584px;
  width: 50%;
  padding: 10px;
}
.finance-card {
  display: flex;
  margin-left: 660px;
  width: 50%;
  padding: 10px;
}
.market-card {
  display: flex;
  margin-left: 632px;
  width: 50%;
  padding: 10px;
}
.dev-card {
  display: flex;
  margin-left: 606px;
  width: 50%;
  padding: 10px;
}
.h2 {
  color: #e9dac1;
}
